<div class="footer">
    © 2017 imooc.com  京ICP备 13046642号-2
</div>
<script type="text/javascript">
    window.onload = function() {
        var setfooterHeight = function() {
            document.querySelector('.footer').style.marginTop = '0px';
            if (window.innerHeight > document.body.offsetHeight) {
                document.querySelector('.footer').style.marginTop = (window.innerHeight - document.body.offsetHeight) + 'px';
            }
        }

        setfooterHeight();
        window.addEventListener('resize', function(e) {
            setfooterHeight();
        })
    }
</script>