body {
    margin: 0;
    padding: 0;
}

.header {
    height: 72px;

    .brand {
        height: 100%;
        margin-left: 60px;

        img {
            height: 100%;
        }
    }
}

.footer {
    height: 72px;
    line-height: 72px;
    font-size: 14px;
    text-align: center;
    color: #99a1a6;
    background: #F8FAFC;
}

.clearfix {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 0;
    width: 0;
    clear: both;
}

.register-steps {
    display: block;
    width: 720px;
    margin: 0 auto;
    padding: 0;
}

.register-steps li {
    display: block;
    float: left;
    width: 150px;
    padding-left: 30px;
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    font-weight: 700;
    color: #999;
    // box-sizing: border-box;
}

.register-steps li.active {
    color: #3e3e3e;
    border-bottom: 2px solid #ff4700;
}

.register-steps li i {
    display: inline-block;
    zoom: 1;
    margin-right: 5px;
    width: 24px;
    height: 24px;
    text-align: center;
    font-style: normal;
    line-height: 24px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border-radius: 9999px;
    background: #999999;
}

.register-steps li.active i {
    background: red;
}




